.button-container{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.download_button{
  border: 0;
  background-color: #FF0000;
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
  width: 200px;
}
.download_button:hover{
  background-color: #cf1f1f;
}
.loader{
  display: none;
}